node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.DS_Store

# Contain secrets to be passed to Google Cloud
src/scripts/upload_chocolates/key_files

# Contains the most current Android and iOS builds
builds/ 

appsync-info.json
project-info.json

# Contains secrets
.env* 
